.products-index-heading {
  margin-top: 0;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}


.category-card {
  position: relative;
  width: 100%;
  margin: 17px 0 17px 0;
  padding: 20px 0 20px 0;
  color: white;
  background-color: $green;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  box-shadow: rgba(23,43,99,0.24) 0 7px 28px;
  border: 2px solid $green;
  &:first-child {
    margin-top: 0;
  }
}

.category-card a:link, .category-card a:visited {
  color: white;
  text-decoration: none;
}

.category-card a:hover, .category-card a:active {
  color: white;
  text-decoration: none;
}
