<div class="banner">
  <div class="banner-content">
    <h1>Share and discover new products.</h1>

    <p>Hello Makers is a curation of the best new products, every day. Discover the latest mobile apps,
      websites, and technology products that everyone's talking about.</p>
    <%= link_to "DISCOVER", products_path, class: "btn btn-warning btn-lg" %>
  </div>
</div>
