.card {
  height: 340px;
  background-size: cover !important;
  color: #888;
  position: relative;
  margin-top: 130px;
  border: solid #e6e6e6;
  border-width: 1px 1px 2px 1px;
  padding: 30px 28px 28px 28px;
  background-color: #fff;
  border-radius: 3px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  text-transform: uppercase;
}
.card-edit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-delete {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  text-align: center;
  position: absolute; /* postulat de départ */
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
.card-description h2 {
  font-size: 34px;
  color: black;
}
.card-description p {
  font-size: 16px;
  margin-bottom: 30px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  opacity: 0;
}
.card-link-product {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  z-index:2;
  opacity: 0;
}
